<div class="container-fluid">
<ul>

     <a [routerLink]="['/Admim/Application/Allapplications']" class="btn btn-block  btn-primary p-4 "> Job Hub  </a>  
     <a [routerLink]="['/Admim/Application/Allapplications']"  class="btn btn-block btn-dark mt-1 p-4"> Applicants Tracking System  </a> 
     <a [routerLink]="['/Admim/Application/Allapplications']"  class="btn btn-block btn-warning mt-1 p-4"> Talent Pool</a>  
     <a [routerLink]="['/Admim/Application/Allapplications']"   class="btn btn-block btn-success mt-1 p-4"> Online Test  </a> 
     <a [routerLink]="['/Admim/Application/Allapplications']"   class="btn btn-block btn-secondary mt-1 p-4" > Download Panel  </a>  
    
</ul>

</div>