<nav  class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/User/Jobs/JobList']"  class="navbar-brand">
         
        VIRTUAL HR 
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a [routerLink]="['/User/Jobs/JobList']" class="nav-link "> Home  </a>
          </li>
          <li  *ngIf="UserPanel" class="nav-item">
            <a [routerLink]="['/User/Jobs/JobList']" class="nav-link "> My Job Board </a>
          </li>
      

        
          <li *ngIf=" UserLogOut" class="nav-item">
            <a [routerLink]="['/Identity/User/Registration']" class="nav-link ">  Create Account </a>
          </li>
          <li *ngIf=" UserLogOut" class="nav-item">
            <a [routerLink]="['/Identity/User/Authentication']" class="nav-link ">  Sign In </a>
          </li>


          <li *ngIf="UserPanel" class="nav-item">
            <a [routerLink]="['/User/ManageAccount']" class="nav-link ">  Manage Account </a>
          </li>

          <li *ngIf="UserPanel" class="nav-item">
            <a [routerLink]="['/User/MyProfile']" class="nav-link ">  My Profile </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/User/Jobs/JobList']" class="nav-link ">  About Virtual Hr </a>
          </li>


        </ul>
      

     
        <div *ngIf="UserPanel" class="navbar-right inline " style="color: #ffffff;">
  
          <i class="fa fa-user-circle"></i>  Welcome Back  {{UserName}}
           <a [routerLink] (click)="LogOut()"  style="text-decoration: none;" class="btn-sm  btn-primary"> Sign Out <i class="fa fa-sign-out"></i> </a>
              
        </div>
      </div>
    </nav>